body {
    margin: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: bold 14px Arial, sans-serif;
}

html {
    height: 100%;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgb(0, 0, 0) 20%, rgb(0, 0, 0));
    background-size: cover;
}

#calculator {
    width: 325px;
    height: auto;

    margin: 100px auto;
    padding: 20px 20px 9px;

    background: rgb(110, 108, 108);
    background: linear-gradient(rgb(110, 108, 108), rgb(110, 108, 108));
    border-radius: 3px;
    box-shadow: 0px 4px rgb(110, 108, 108), 0px 10px 15px rgb(110, 108, 108);
}

.top span.clear {
    float: left;
}

.top .screen {
    height: 40px;
    width: 212px;

    float: right;

    padding: 0 10px;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
    font-size: 17px;
    line-height: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
    text-align: right;
    letter-spacing: 1px;
}
.keys, .top {
    overflow: hidden;
}

.keys span, .top span.clear {
    float: left;
    position: relative;
    top: 0;
    cursor: pointer;
    width: 66px;
    height: 36px;
    background: rgb(90, 89, 89);
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    margin: 0 7px 11px 0;
    color: rgb(255, 255, 255);
    line-height: 36px;
    text-align: center;
    user-select: none;
    transition: all 0.2s ease;
}

.keys span.operator {
    background: rgb(128, 108, 108);
    margin-right: 0;
}

.keys span.eval {
    background: rgb(119, 119, 119);
    box-shadow: 0px 4px rgb(110, 108, 108);
    color: rgb(255, 255, 255);
}

.top span.clear {
    background: #ffffff;
    box-shadow: 0px 4px rgb(110, 108, 108);
    color: rgb(0, 63, 146);
}

.keys span:hover {
    background: #fd7200;
    box-shadow: 0px 4px rgb(110, 108, 108);
    color: rgb(250, 246, 0);
}

.keys span.eval:hover {
    background: #abb850;
    box-shadow: 0px 4px rgb(102, 97, 97);
    color: #ffffff;
}

.top span.clear:hover {
    background: #8994f6;
    box-shadow: 0px 4px rgb(110, 108, 108);
    color: rgb(178, 238, 122);
}

.keys span:active {
    box-shadow: 0px 0px rgb(110, 108, 108);
    top: 4px;
}

.keys span.eval:active {
    box-shadow: 0px 0px rgb(110, 108, 108);
    top: 4px;
}

.top span.clear:active {
    top: 4px;
    box-shadow: 0px 0px rgb(110, 108, 108);
}

h1 {
    margin: 50px auto 0 auto;
    font-size: 36pt;
    font-family: sans-serif;
    color: rgb(211, 223, 231);
    line-height: 2;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    color: rgb(211, 223, 231);
    font-weight: normal;
}

.top-container {
    background-color: rgb(0, 0, 0);
    position: relative;
    padding-top: 1px;
}

.middle-container {
	background-color: rgb(0, 0, 0);
    position: relative;
    padding-top: 1px;
	padding-left: 43%;
	padding-right: 38%;
}

.bottom-container {
    background-color: rgb(0, 0, 0);
    padding: 25px 0 20px;
}
